<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
        <!-- min/max word length -->
        <add key="minWordLength" value="0" />
        <add key="maxWordLength" value="10" />

        <!-- word list file -->
        <add key="wordListPath" value="./files/word_lists/wordsEN.txt" />

        <!-- number of tries -->
        <add key="maxTries" value="5" />

        <!-- difficulty preset -->
        <add key="DifficultyPreset" value="0" />

    </appSettings>

</configuration>